<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle>Sistema de chamados on-line</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-img.svg" alt="Foto Home">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema Help Desk!<br />
            Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular 16 e
            Spring Boot 2.7 com Java 11. <br />O sistema está rodando na nuvem sendo o front na Vercel e o back na Render.<br />
            O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
            Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
            <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
            <br /> Atenciosamente: Ruan Gemmer
           </p>
    </mat-card-content>
</mat-card>