<div class="container">
    <form class="form">
        <h1 class="form-title">HELP DESK<br>Sistema de chamados on-line</h1>
        <img class="img-login" src="assets/img/login-img.svg">

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput
                placeholder="Ex. fulano@mail.com" autocomplete="off">
            <mat-icon class="icons" matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" required [(ngModel)]="creds.senha" name="senha" type="password"
                matInput placeholder="Ex. 123" autocomplete="off">
            <mat-icon class="icons" matSuffix>password</mat-icon>
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" mat-stroked-button>
            <span>Acessar</span>
        </button>
    </form>
</div>