<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
       <img src="assets/img/sidebar-img.svg" alt="Imagem de navegação" autoFocus>
       <mat-nav-list class="nav-list">
          <a mat-list-item routerLink="home" (click)="navigateAndClose('home')">
             <i class="material-icons">home</i>
             <a color="white">Home</a>
          </a>
          <a mat-list-item routerLink="tecnicos" (click)="navigateAndClose('tecnicos')">
             <i class="material-icons">account_circle</i>
             <a color="white">Técnicos</a>
          </a>
          <a mat-list-item routerLink="clientes" (click)="navigateAndClose('clientes')">
             <i class="material-icons">person</i>
             <a color="white">Clientes</a>
          </a>
          <a mat-list-item routerLink="chamados" (click)="navigateAndClose('chamados')">
            <i class="material-icons">support</i>
            <a color="white">Chamados</a>
         </a>
          <a mat-list-item href="https://github.com/RuanGemmer/HelpDesk-FrontEnd" target="_blank">
             <i class="material-icons">code</i>
             <a color="white">GitHub</a>
          </a>
          <a mat-list-item (click)="logout()">
             <i class="material-icons">logout</i>
             <a color="white">Logout</a>
          </a>
       </mat-nav-list>
    </mat-drawer>
 
    <div class="sidenav-content">
      <app-header></app-header>
       <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
       </button>
       <router-outlet></router-outlet>
    </div>
 
 </mat-drawer-container> 